<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
    <head>
        <meta charset="utf-8" />
        <title>Titre</title>
    </head>

    <body>
<h1>Connection à Doctolib</h1>
	
		<form action="#" th:action= "@{/connection}" th:object= "${user}" method="post"> 
		
    	<p>Nom d'utilisation:</p>
    	<input type="text" th:field="*{email}" >
 
    	<p>Mot de passe:</p>
    	<input type="text" th:field="*{password}" >
    	<br><br>
    	<input class="favorite styled" type="submit" onclick="window.location.href = 'mypage';" value="Se connecter">
		</form>
    	
    	<br><br>
		<div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;">
         </div>
    </body>
</html>