<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Titre</title>
    </head>

    <body>
<h1>Connection à Doctolib</h1>

    	<p>Nom d'utilisation:</p>
    	<input type="text" id="name" name="name" required minlength="4" maxlength="8" size="10">

    	<p>Mot de passe:</p>
    	<input type="text" id="name" name="name" required minlength="4" maxlength="8" size="10">

    	<br><br>
    	<input class="favorite styled" type="button" onclick="window.location.href = 'mypage.html';" value="Se connecter">
    </body>
</html>