<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>Titre</title>
    </head>

    <body>
    	<h1>Veuillez remplir les informations suivantes:</h1>
		
	<form action="#" th:action= "@{/inscription2}" th:object= "${userForm}" method="post"> 
	<!-- 	<form action=""> -->
<!-- 			<p>Adresse mail: </p>
			<input type="text" > -->
			 <p>Adresse mail: </p>
			<input type="text" th:field="*{email}" >
			<p>Prénom et nom:</p>
			<input type="text" th:field="*{name}"  >
			<p>Mot de passe:</p>
			<input type="text"  th:field="*{password}" >
    		<!-- <input type="text" id="mdp" name="mdp" th:field="*{userForm.mdp}" > -->
    	<!-- 	<p>Profession:</p>
    		<input type="text"  placeholder="Pour les professionnels" id="prof" name="prof"> -->
			<br><br>
			<input type="submit" value="S'inscrire" />
<!-- 		<input class="favorite styled" type="button" onclick="window.location.href = 'mypage';" value="S'incrire"> MARCHE mais ne prd pas le form  -->
		<!-- 	<input class="favorite styled" type="submit" onclick="window.location.href = 'mypage';" value="S'inscrire">  eeror 404--> 
		</form>
		
<!-- 		<form action= "#" th:action= "@/msg)" th:object= "${newMessage )" method-"post"
			<p>Author: </p>
			<input type="text" th:field"(author) ">
			<p>Message: </p>
			<input type-"text" th:field-"* (message) ">
			<input type="submit" value="Send">
		</form> -->

       
    </body>
</html> 