<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>Titre</title>
    </head>

    <body>
    	<h1>Veuillez remplir les informations suivantes:</h1>
		
	<form action="#" th:action= "@{/inscription2}" th:object= "${user}" method="post"> 
			 <p>Adresse mail: </p>
			<input type="text" th:field="*{email}" >
			<p>Prénom et nom:</p>
			<input type="text" th:field="*{name}"  >
			<p>Mot de passe:</p>
			<input type="password"  th:field="*{password}" >
			<br><br>
			<input type="submit" value="S'inscrire" />
		</form>       
		<br><br>
		<div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;">
         </div>
         
    </body>
</html> 