<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>Titre</title>
        <link  rel="stylesheet" type="text/css" href="../css/style.css"   /> <!-- th:href="@{css/style.css}" -->
    </head>

    <body>
    	<h1>DoctoLib</h1>
    <br>
    	<h2 th:if="${welcomeMessage}" th:utext="${welcomeMessage}"
         style="color:blue;font-style:bold;">
         </h2>   
    <br>
        <h2>Informations de votre compte</h2>   
    	<br>
        <form action="/delete" method="post">
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col">Date </th>
              <th scope="col">Creneau </th>
              <th scope="col">Temps </th>
              <th scope="col">Client </th>
              <th scope="col">Professionel </th>
              <th scope="col">Description</th>
            </tr>
            </thead>
             <tbody>
            <tr th:each ="reu : ${reus}">
              <td th:text="${reu.date}"></td>
               <td th:text="${reu.creneau}"></td>
              <td th:text="${reu.lenght}"></td>
              <td th:text="${reu.us.name}"></td>
              <td th:text="${reu.work.name}"></td>
              <td th:text="${reu.description}"></td>
              <td >
        		<a th:href="@{/delete/{id}(id=${reu.getId()})}" class="btn btn-danger">Annuler le rendez-vous</a>
      		  </td>
            </tr>
            </tbody>
          </table>
          
        </form>
            
        <br>
    	<input type="button" onclick="window.location.href = 'rdv';" value="Prendre un rendez-vous"/>
    	<br>
    	<br>
    	<br>
    	<br>
    	<input type="button" onclick="window.location.href = 'deco';" value="Se déconnecter"/>
    </body>
</html>  