<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Doctolib</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
</head>
<body class="text-center">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>


<h1>DoctoLib</h1>
    	<br>
    	<a th:href="@{/inscription2}">Inscription client</a>  
    	<br><br>
    	<a th:href="@{/inscription}">Inscription professionnel </a>
    	<br><br>
    	 <a th:href="@{/connection}">Connection</a>  
    	<!-- <input type="button" th:href="@{/connection}"  value="Se connecter"/> Avoir des boutons -->
		<br><br>
    	 <a th:href="@{/mypage}">Accueil</a>  
</body>
</html>