<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>Titre</title>
    </head>

    <body>
    	<h1>Veuillez remplir les informations suivantes pour prendre un rendez-vous:</h1> 
		
<!--  DATE SELECTION ADEQUATE OPTIONNEL -->
<!-- <input id="date" type="date" value="2017-06-01"> -->
<!-- LENGHT VALEUR PRéDéFINI 30/60 OPTIONNEL -->
<!-- DESCRIPTION MENU DEROULANT AVEC CAS AUTRE OPTIONNEL -->
	<form action="#" th:action= "@{/chooseWorker}" th:object= "${idWorker}" method="post"> 
	
	  <div class="form-group">
     <label class="col-md-3 control-label">Sélectionnez un médecin</label>
         <div class="col-md-5">
             <select  th:field="*{id}" >
                 <option th:each="worker : ${workers}"
                                 th:value="${worker.id}"                    
                                 th:text="${worker.name}+' : '+${worker.job}"/>
             </select>
        </div>
   </div>
   		<br>
   		
   	 	<div th:if="${informationMessage}" th:utext="${informationMessage}"
         style="color:red;font-style:italic;">
         </div>
    
          <br>
  <input type="submit" onclick="window.location.href = 'rdv';" value="Valider le médecin" />
</form>  

 	       <form action="#" th:action= "@{/prendreRdv}" th:object= "${appoint}" method="post"> 
			<p>Date: </p>
			<input type="date" th:field="*{date}" >
			<p>Créneau: </p>
			<input type="time" th:field="*{creneau}" >
			<p>Temps:</p>
			<input type="number" required value="15" min="15" max="60" step="15" th:field="*{lenght}" >			
			<p>Description:</p>
			<input th:field="*{description}" list="description" id="ice-cream-choice" name="ice-cream-choice" />
			<datalist id="description">
   						<option value="Général">
    					<option value="Vaccin">
   						<option value="Radiographie">
    					<option value="Autre">
					</datalist>
			<br><br>
		 <input type="submit" onclick="window.location.href = 'mypage';" value="Prendre un rendez-vous" />
		</form>  
		<input type="button" onclick="window.location.href = 'mypage';"  value="Annuler"/> 
    </body>
</html> 

