<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>Titre</title>
    </head>

    <body>
    	<h1>Veuillez remplir les informations suivantes pour prendre un rendez-vous:</h1>
		
	<form action="#" th:action= "@{/prendreRdv}" th:object= "${appoint}" method="post"> 
			<p>Date: </p>
			<!-- <input id="date" type="date" value="2017-06-01"> -->
			<input type="text" th:field="*{date}" >
			<p>Temps:</p>
			<input type="number" th:field="*{lenght}" >
			<p>Client:</p>
			<input type="text"  th:field="*{us}" >
			<p>Médecin:</p>
			<input type="text" th:field="*{work}" >
			<p>Description:</p>
			<input type="text"  th:field="*{description}" >>
			<br><br>
			<input type="submit" onclick="window.location.href = 'mypage';" value="Prendre un rendez-vous" />
		</form>       
    </body>
</html> 

